.navbar-nav .nav-item {
  transition: 0.5s background-color ease;
}

.navbar-nav .nav-item:hover {
  background-color: rgba(57, 100, 137, 0.729);
  border-radius: 5px;
}
.grad {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.grad1 {
  background: rgb(255, 55, 55);
  background: linear-gradient(
    90deg,
    rgba(255, 55, 55, 1) 23%,
    rgba(251, 82, 250, 1) 89%,
    rgba(232, 255, 232, 1) 100%
  );
}
.grad2 {
  background: rgb(151, 93, 187);
  background: linear-gradient(
    90deg,
    rgba(151, 93, 187, 1) 37%,
    rgba(119, 108, 201, 1) 61%,
    rgba(78, 120, 207, 1) 80%
  );
}
.grad3 {
  background: rgb(0, 137, 186);
  background: linear-gradient(
    90deg,
    rgba(0, 137, 186, 1) 16%,
    rgba(0, 142, 155, 1) 40%,
    rgba(0, 143, 122, 1) 84%
  );
}
@media (max-width: 767px) {
  .grad1 {
    background: linear-gradient(
      180deg,
      /* Vertical gradient for mobile */ rgba(255, 55, 55, 1) 10%,
      rgba(251, 82, 250, 1) 50%,
      rgba(232, 255, 232, 1) 90%
    );
  }
  .grad {
    background: rgb(131, 58, 180);
    background: linear-gradient(
      90deg,
      rgb(230, 194, 255) 0%,
      rgb(239, 159, 159) 50%,
      rgb(247, 215, 170) 100%
    );
  }

  .content-container {
    padding: 10px; /* Further reduce padding */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 10px;
    border-radius: 4px; /* Minimal rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08); /* Subtle shadow */
  }
}
.loginbox {
  padding-top: 20px;
  padding-bottom: 20px;
}
.grad-prob {
  height: 100%;
  margin: 0;
}

.img-size {
  height: 275px;
  width: 250px;
}

#logo {
  height: 85px;
  width: 200px;
}
.content-container {
  background-color: white; /* White background for the container */
  padding: 20px; /* Add some padding */
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
}

#carouselExample {
  height: 500px; /* Set desired carousel height */
}
#carouselExample .carousel-inner {
  height: 100%; /* Ensure the inner carousel matches the height */
}
#carouselExample .carousel-item img {
  height: 100%; /* Set the image height to match the carousel */
  object-fit: cover; /* Adjust image to fit the container */
}

.content-container2 {
  background-color: rgb(44, 36, 160); /* White background for the container */
  padding: 20px; /* Add some padding */
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 2px; /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow for depth */
}

.nav-color {
  background-color: rgb(44, 36, 160);
  color: white;
}
